<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hey</h1>
      <form action="expreiment/upload" method="post">
         <input type="text" name="categoryname">
         <input type="file" name="icon">
         <button>submit</button>
      </form>
  </body>
</html>
